@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color:#1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
}

div.react-player__shadow {
    background-color: rgba(255, 0, 0, .7) !important;
    transition: all .3s;
    &:hover {
        background-color: rgba(255, 0, 0, .5) !important;
    }
}

main > div.overflow-auto {
    max-width: calc(100vw - 250px);
}

input[type="search"] {
    color: #fff;
    caret-color: #fff;
}

.dots {
    display: flex;
    gap: 3px;
    margin-left: 5px;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    animation: dot-blink 1s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes dot-blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.pagination {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pagination > span {
    display: inline-block;
    background: #fff;
    color: black;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
}

table tbody tr {
    transition: .3s all;
    &:hover {
        background: #ffffff0d;
    }
}

table td {
    text-align: center;
}

table tr th,
table tr td {
    padding:10px;
    border: 1px solid #9E9EA4 !important;
}

table img {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #9e9ea4;
}

#table::-webkit-scrollbar,
#all-carts::-webkit-scrollbar,
#all-videos::-webkit-scrollbar,
.items::-webkit-scrollbar {
    width: 9px; 
    height: 9px; 
}

#table::-webkit-scrollbar-thumb, 
#all-carts::-webkit-scrollbar-thumb,
#all-videos::-webkit-scrollbar-thumb,
.items::-webkit-scrollbar-thumb {
    background-color: #9e9ea4;
    border-radius: 5px;
    border: 2px solid #fff;
}

#table::-webkit-scrollbar-track, 
#all-carts::-webkit-scrollbar-track,
#all-videos::-webkit-scrollbar-track,
.items::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.fa-edit,
.toggle-show {
    transition: all .3s;
    &:hover {
        color: #1976d2;
    }
}

.toggle-show {
    color: #000;
    font-weight: bold;
}

.question-number {
    transition: all .3s;
    &:hover {
        color:#0f0;
    }
}

.fontawesome-icon {
    cursor: pointer;
    &:hover i{
        transition: all .3s;
        &.fa-trash {
            color: #f00;
        }
        &.fa-edit {
            color: #1976d2;
        }
        &.fa-layer-group,
        .question-number {
            color:#0f0;
        }
    }
}

.logout {
    transition: all .3s;
    &:hover {
        color: #f00;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
background-color: #1976d2;
border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
background-color: #1976d2;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.sidebar-list-item {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    a {
        transition: all .3s;
        &.active {
            color: #fff;
            transform: translateX(15px);
        }
    }
    &:hover {
        background-color: #ffffff33;
        a {
            transform: translateX(15px);
            color: #fff;
        }
    }
    &.active {
    background-color: #ffffff33;
    }
}

.sidebar-list-item > a {
    text-decoration: none;
    color:#9e9ea4;
    display: flex;
    gap: 8px;
    align-items: center;
}
  /* End Sidebar  */

  /* Main  */  
.card {
    padding: 20px;
    border-radius: 5px;
    width: 32% !important;
}
.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-inner > .card_icon {
    font-size: 25px;
}
  /* End Main  */